#text {
	width: 900px;
	margin: auto;
    -moz-box-shadow: 0 0 10px #333333;
    -webkit-box-shadow: 0 0 10px #333333;
    border: 3px solid;
    border-color: #2975a5;
    -moz-border-radius: 12px;
	-webkit-border-radius: 12px;
    padding: 20px;
    font-size: 1.1em;
    text-align: justify;
}

.highlightedText {
	padding: 1px;
	background-color: #f7a9a4;
	cursor: pointer;
}

/* Tooltip */
.tooltipConf {
	position: relative;
}

.tooltip {
	position: absolute;
	width: 480px;
    display: none;
	z-index: 20;
}

.tooltipContent {
	font-size: 0.9em;
}

.suggestions {
	padding: 2px;
	background-color: #a9da65;
	color: #335519;
}