form {
	padding:20px;
	-moz-box-shadow: 0 0 10px #333333;
    -webkit-box-shadow: 0 0 10px #333333;
    border: 3px solid white;
    -webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.single_form_element{
	padding: 10px 0;
	clear: both;
}

.single_form_element .input_border {
	border: 5px solid #dbdbdb;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	padding: 2px;
}

.single_form_element .input_border:focus {
	border: 5px solid #2975a5;
}

.single_form_element label {
	text-shadow: 1px -1px 1px #fff;
}

.single_form_element .label {
	font-weight: bold;
	float: left;
	margin: 4px 0 0 0;
	text-align: right;
	width: 150px;
}