form {
	margin: auto;
}

fieldset {
	padding: 20px 40px;
	background-color: #eeeeee;
    border: 8px solid #c0c0c0;
    -webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

legend {
	font-size: 1.2em;
	font-weight: bolder;
}

.single_form_element {
	margin: auto;
	padding: 5px 0;
}

.single_form_element label {
	text-shadow: 1px -1px 1px #fff;
}

.single_form_element .label {
	font-weight: bold;
	margin: 2px 5px 0 0;
}

.single_form_element .indent {
	margin-top: 4px;
	margin-left: 15px;
}

.single_form_element input {
	height: 32px;
	font-size: 1.0em;
}

.single_form_element .input_border {
	border: 2px solid #bbbbbb;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 2px;
}

.single_form_element .input_border:focus {
	border: 2px solid #2975a5;
}

.single_form_element select {
	height: 32px;
	font-size: 1.0em;
	background-color: #fff;
}

.single_form_element textarea {
	font-size: 0.9em;	
}

.single_form_element .error {
	border: 2px solid #9d0505;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 2px;
}

.single_form_element .description {
	color: #535353;
}

.single_form_element .description_error {
	color: #9d0505;
}


.small {
	font-size: 0.8em;
}

.small a {
	color: #123348;
	font-weight: bold;
}

.small a:hover, .small a.selected {
	color: #123348;
	font-weight: bold;
}


.change_form_element {
	font-size: 1.2em;
	font-weight: bold;
	color: #535353
}

.change_form_element:hover {
	color: #000;
	cursor: pointer;
}

.bordered-element {
	margin-top: 16px;
	margin-bottom: 4px;
	border: 10px solid #fff;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 2px;
}