body {
	margin: 0px;
	padding: 0px;
	min-width: 1000px;
	background-color: #eeeeee;
	font: 16px Helvetica, Arial, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1, h2, h3 {
	margin-top: 0px;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.1em;
}


#header {
	height: 60px;
	margin: auto;
	background: url(images/header.gif), repeat-x;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #123348;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #123348;
}

#header-content {
	width: 990px;	
	margin: auto;
}


#logo {
	float: left;
	padding-top: 4px;
	font-size: 1.4em;
	font-weight: bold;
	color: #fff;
}

#logo a {
	text-decoration: none;
	color: #fff;
}

#logo b {
	margin-left: 4px;	
	font-size: 1.8em;
	font-weight: bold;
	color: #fff;
}


#menu {
	float: right;	
	position: relative;
	margin: auto;
	height: auto;
	padding-top: 13px;
}

.nav_bar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav_bar ul li, .nav_bar ul li a {
	float: left;
	text-align: center;
	color: #fff;
	font: 14px Helvetica, Arial, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	text-decoration: none;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
}

.nav_bar ul li a:hover, .nav_bar ul li a.selected {
	float: left;
	text-align: center;
	color: #fff;
	font: 14px Helvetica, Arial, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	text-decoration: none;
	-moz-border-radius: 4px 4px 4px 4px;
	-border-radius: 4px 4px 4px 4px;
	background: none repeat scroll 0 0 #123348;	
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;	
}


#page {	
	width: 900px;
	margin: auto auto;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #bbbbbb;
	padding: 20px 20px;
	margin-top: 10px;
}

#content {
	float: center;
}

#text {
	width: 770px;
	margin: auto;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #bbbbbb;
	padding: 0 10px;
}

.popupConf {
	position: relative;
}

.highlightedText {
}

.popup {
	position: absolute;
	width: 480px;
    display: none;
	z-index: 20;
}

.popupMid {
	padding: 0px 25px 0px 25px;
	background: transparent url(images/tipMid.png) repeat-y;
}

.popupTop {
	background: transparent url(images/tipTop.png) no-repeat top;
	height: 32px;	
}

.popupBtm {
	background: transparent url(images/tipBtm.png) no-repeat bottom;
	height: 32px;		
}

.popupContent {
}


#footer {
	width: 1000px;
	margin: auto;
}

#footer ul li {
	display: inline;
	color: #444444;
	list-style-type: none;
	font: 14px Helvetica, Arial, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#footer ul li a {
	color: #444444;
	padding: 0 8px;
	text-decoration:none;
	font: 14px Helvetica, Arial, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#footer ul li a:hover {
	color: #0b0b0b;
	background: #e0e0e0;
	padding: 0 8px;
	text-decoration:none;
	font: 14px Helvetica, Arial, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}